<% data.multiObjects.forEach((obj,i) => { %>
    <div class="col-md-10" style="display: <%= (data.active == true ? "block" : "none" ) %>">
        <h3>
            <%= obj.title %> 
        </h3>
    </div> 
<div class="col-md-2" style="display: <%= (data.active == true ? "block" : "none" ) %>">
    <button class="btn btn-success" id="newItem<%= obj.id %>">Nuevo</button>
</div>
<div id="list<%= obj.id %>" array="<%= obj.id %>"  class="col-md-12" style="display: <%= (data.active == true ? "block" : "none" ) %>">
    <hr>
    <div class="row" id="item<%= obj.id %>0">
        <% obj.schema.forEach(camp => { 
            if(camp.type == "text" || camp.type =="email" || camp.type =="date" || camp.type =="number"){%>
                <div class="col-md-6" style="display:<%=(camp.active == true?"block":"none")%>">
                    <label for="<%= camp.id %>0"><%= camp.pregunta %><b><%= (camp.required == true ? " *" : "") %></b></label>
                    <input type="<%= camp.type %>" dbparam="<%= camp.id %>" id="<%= camp.id %>0" class="form-control <%= (camp.required == true ? " required" : "") %>" name="<%= camp.id %>0">
                </div>
           <% }else if(camp.type == "select"){%>
                <div class="col-md-6 form-group" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
                    <label for="<%= camp.id %>0"><%= camp.pregunta %><b><%= (camp.required == true)?" * ":"" %></b></label>
                    <select id="<%= camp.id %>0" dbparam="<%= camp.id %>" class="form-control <%= (camp.required == true)?" required":"" %>" name="<%= camp.id %>0">
                        <option value="" disabled selected>Selecciona...</option>
                        <% camp.options.forEach((opt)=>{ %>
                        <option value="<%=opt%>"><%=opt%></option>
                        <% }) %>
                    </select>
                </div>
           <% } %>
        <% }) %>
        <hr style="border: 1px solid !important; width: 100%; ">
    </div>
</div>  

    <script>
        var index = 1;
        function deleteRow(idRow){
            $("#"+idRow).remove();
        }
        $("#newItem<%= obj.id %>").click(function(){
            $("#list<%= obj.id %>").append($(`
                <div class="row" id="item<%= obj.id %>`+index+`">
                    <% obj.schema.forEach((camp) => { 
                        if(camp.type == "text"){%>
                            <div class="col-md-6" style="display:<%=(camp.active == true?"block":"none")%>">
                                <label for="<%= camp.id %>`+index+`"><%= camp.pregunta %> <b><%= (camp.required == true ? " *" : "") %></b></label>
                                <input type="text" id="<%= camp.id %>`+index+`" dbparam="<%= camp.id %>" class="form-control item <%= (camp.required == true ? " required" : "") %>" name="<%= camp.id %>`+index+`">
                            </div>
                        <%} if(camp.type == "select"){%>
                            <div class="col-md-6 form-group" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
                                <label for="<%= camp.id %>`+index+`"><%= camp.pregunta %><b><%= (camp.required == true)?" * ":"" %></b></label>
                                <select id="<%= camp.id %>`+index+`" dbparam="<%= camp.id %>" class="form-control item <%= (camp.required == true)?" required":"" %>" name="<%= camp.id %>`+index+`">
                                    <option value="" disabled selected>Selecciona...</option>
                                    <% camp.options.forEach((opt)=>{ %>
                                    <option value="<%=opt%>"><%=opt%></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } %>
                    <% }) %>
                    <div class="col-md-6">
                        <button class="btn btn-danger" style="margin-top: 22px;display: ` + (index == 0 ? "none" : "block") + `"
                            onclick="deleteRow('item<%= obj.id %>` + index + `')" id="item<%= obj.id %>` + index + `Delete">Eliminar tutor</button>
                    </div>
                    <hr style="border: 1px solid !important; width: 100%; ">
                </div>
            `))
            index++
        });
        
    </script>
<% }); %>
    
    

