<%-include('../common/onHead',{data:data})-%>
<div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p70">			  
        <div class="col-md-7 col-12">
            <div class="box">
                <div class="box-header with-border" style="text-align: center;">
                    <h4 class="box-title">Bienvenido al trámite de admisión</h4>
                    <p class="mt-2">Selecciona tu institución.</p>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3"></div>   
                        <div class="col-md-6">
                            <select name="" id="institucion" class="form-control">
                                <option value="">Seleccionar...</option>
                                <%data.admision.formularios.forEach((item)=>{%>
                                    <option value="<%=item.institucion%>"><%=item.institucion%></option>
                                <%})%>
                            </select>
                        </div>
                        <br><br>
                        <div class="col-md-3"></div>  
                        <div class="col-md-3"></div>   
                        <div class="col-md-6" style="text-align: center;">
                            <button  class="btn btn-rounded btn-success btn-outline" id="siguiente">
                                Siguiente
                            </button> 
                        </div>
                    </div>
                </div>
            </div>	
        </div>  
    </div>
</div>
<script>
    $("#siguiente").click(function(){
        var institucion = $("#institucion").val();
        //get
        if(institucion !=""){
            window.location.href = '/step1/'+institucion;
        }else{
            Swal.fire(
                'Error',
                'Institución es obligatorio',
                'error'
            )
        }
    });
</script>