<%- include("../common/onHeadLogin",{data:data}) %>
<div class="content-wrapper">
	<div class="container-full">
		<div class="content-header">
			<div class="d-flex align-items-center">
			</div>
		</div>
		<section class="content">
			<div class="box box-default">
				<div class="box-header with-border">
					<h4 class="box-title">Trámite de admisión</h4>
					<h6 class="box-subtitle">Registre la información solicitada</h6>
				</div>
				<div class="box-body wizard-content">
					<form action="#" class="validation-wizard wizard-circle">
						<% data.form.pasos.forEach((step)=>{%>
						<h6><%=step.paso%></h6>
						<% if(step.paso === "Bienvenida"){%>
						<section id="Bienvenida">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<h2><%=step.texto%></h2>
									</div>
								</div>
							</div>
						</section>
						<% }else if(step.paso == "Cuestionario"){%>
						<section id="Cuestionario">
							<div class="row">
								<% step.preguntas.forEach((camp)=>{ %>
								<% if( camp.section != undefined ) { %>
								<div class="col-md-12">
									<h4><%= camp.section %></h4>
									<hr>
								</div>
								<% } %>
								<% if(camp.type == "select" && camp.dependencia ==""){ %>
								<div class="col-md-6 form-group" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<label for="<%= camp.id %>"><%= camp.pregunta %><b><%= (camp.required == true)?" * ":"" %></b></label>
									<select class="form-control <%= (camp.required == true)?"required":"" %>" id="<%= camp.id %>" name="<%= camp.id %>">
										<option value="" disabled selected>Selecciona...</option>
										<% camp.options.forEach((opt)=>{ %>
										<option value="<%=opt%>"><%=opt%></option>
										<% }) %>
									</select>
								</div>
								<% } %>
								<% if(camp.type == "select" && camp.dependencia !="" && camp.dependencia2 == undefined){ %>
								<script type="text/javascript">
									$("#<%= camp.dependencia %>").change(ChangeLocalidadesFromMunicipio);
									function ChangeLocalidadesFromMunicipio(id,dependencia) {
										document.getElementById("<%= camp.id %>").innerHTML = "";
										var mun = document.getElementById("<%= camp.dependencia %>").value;
										var arr = <%- JSON.stringify(camp.options) %>;
										var index = searchByParam(arr, "<%= camp.dependencia %>", mun);
										$("#<%= camp.id %>").append($("<option value='' disabled selected>Selecciona... </option>"));
										arr[index].<%= camp.id %>.forEach(function(txt) {
											var selected = "";
											if($("#<%= camp.id %>").attr("value") == txt){
												selected = "selected"
											}
											$("#<%= camp.id %>").append($("<option value='" + txt + "' "+ selected +">" + txt + "</option>"));
										});
									
									}
									
									function searchByParam(arr, param, value) {
										var index = -1;
										for (var i = 0; i < arr.length; i++) {
											if (arr[i][param] == value) {
													index = i;
											}
										}
										return index;
									}
								</script>
								<div class="col-md-6 form-group" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<label for="<%= camp.id %>"><%= camp.pregunta %> <b><%= (camp.required == true)? "*" : "" %></b></label>
									<select class="form-control <%= (camp.required == true)?"required":"" %>" id="<%= camp.id %>" name="<%= camp.id %>"></select>
								</div>
								<% } %>
								<% if(camp.type == "select" && camp.dependencia !="" && (camp.dependencia2 !="" && camp.dependencia2 !=undefined)){ %>
								<script type="text/javascript">
									$("#<%= camp.dependencia2 %>").change(ChangeLocalidadesFromMunicipio);
									function ChangeLocalidadesFromMunicipio() {
										document.getElementById("<%= camp.id %>").innerHTML = "";
										var mun = document.getElementById("<%= camp.dependencia %>").value;
										var mun2 = document.getElementById("<%= camp.dependencia2 %>").value;
							var arr = <%- JSON.stringify(camp.options) %>;
										var index = searchByParamFind(arr,  "<%= camp.dependencia %>", mun, "<%= camp.dependencia2 %>", mun2);
										$("#<%= camp.id %>").append($("<option value='' disabled selected>Selecciona... </option>"));
										arr[index].<%= camp.id %>.forEach(function(txt) {
											var selected = "";
											if($("#<%= camp.id %>").attr("value") == txt){
												selected = "selected"
											}
											$("#<%= camp.id %>").append($("<option value='" + txt + "' "+ selected +">" + txt + "</option>"));
										});
									
									}
									
									function searchByParamFind(arr, param, value, param2, value2) {
										var index = -1;
										for (var i = 0; i < arr.length; i++) {
											if (arr[i][param] == value && arr[i][param2] == value2 ) {
													index = i;
											}
										}
										return index;
									}
								</script>
								<div class="form-group col-6" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<label><%= camp.pregunta %> <b><%= (camp.required == true ? "*" : "") %></b></label>
									<select class="form-control <%= (camp.required == true)?"required":"" %>" id="<%= camp.id %>" name="<%= camp.id %>"></select>
								</div>
								<% } %>
								<% if(camp.type == "api" && camp.nombre == "direccion"){ %>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.estado%>" >Estado <b>*</b></label>
										<select class="form-control required" id="<%=camp.estado%>" name="<%=camp.estado%>"></select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.municipio%>">Municipios <b>*</b></label>
										<select class="form-control required" id="<%=camp.municipio%>" name="<%=camp.municipio%>">
										</select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.cp%>">Código postal <b>*</b></label>
										<select class="form-control required" id="<%=camp.cp%>" name="<%=camp.cp%>">
										</select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.localidad%>">Localidad/Colonia <b>*</b></label>
										<select class="form-control required" id="<%=camp.localidad%>" name="<%=camp.localidad%>">
										</select>
									</div>
								</div>
								<script>
									$(()=>{
										$(".<%= camp.type+'_'+ camp.nombre %>").css('display','none');
									})
									$("#<%=camp.dependencia%>").change(()=>{
										var val = $("#<%=camp.dependencia%>").val();
										if(val == "<%= camp.value %>" && <%= camp.active %> == true){
											$(".<%= camp.type+'_'+ camp.nombre %>").css('display','block');
										}else{
											$(".<%= camp.type+'_'+ camp.nombre %>").css('display','none');
										}
									})
									var estados = "https://api-sepomex.hckdrk.mx/query/get_estados";
									function llenarestados(){
										$.get( estados, function( data ) {
											document.getElementById("<%=camp.estado%>").innerHTML += "<option value='' selected>Selecciona...</option>"; 
											for(var i in data.response.estado.sort()){
													document.getElementById("<%=camp.estado%>").innerHTML += "<option value='"+data.response.estado[i]+"'>"+data.response.estado[i]+"</option>"; 
											}
										});
										
									}
									 
									function llenarmunicipio(){
										document.getElementById("<%=camp.municipio%>").innerHTML = "";
										var estado = $("#<%=camp.estado%>").val();
										var municipios ="https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+estado;
										$.get( municipios, function( data ) {
											document.getElementById("<%=camp.municipio%>").innerHTML += "<option value='' selected>Selecciona...</option>"; 
											for(var i in data.response.municipios.sort()){
													document.getElementById("<%=camp.municipio%>").innerHTML += "<option value='"+data.response.municipios[i]+"'>"+data.response.municipios[i]+"</option>"; 
											}
										});
									}
									
									function llenarcp(){
										document.getElementById("<%=camp.cp%>").innerHTML = "";
										var municipio = $("#<%=camp.municipio%>").val();
										var cp ="https://api-sepomex.hckdrk.mx/query/get_cp_por_municipio/"+municipio;
										$.get( cp, function( data ) {
											document.getElementById("<%=camp.cp%>").innerHTML += "<option value='' selected>Selecciona...</option>"; 
											for(var i in data.response.cp.sort()){ 
													document.getElementById("<%=camp.cp%>").innerHTML += "<option value='"+data.response.cp[i]+"'>"+data.response.cp[i]+"</option>"; 
											}
										});
									}
									
									function llenarlocalidad(){
										document.getElementById("<%=camp.localidad%>").innerHTML = "";
										var cp = $("#<%=camp.cp%>").val();
										var localidades ="https://api-sepomex.hckdrk.mx/query/get_colonia_por_cp/"+cp;
										$.get( localidades, function( data ) {
											document.getElementById("<%=camp.localidad%>").innerHTML += "<option value='' selected>Selecciona...</option>"; 
											for(var i in data.response.colonia.sort()){ 
													document.getElementById("<%=camp.localidad%>").innerHTML += "<option value='"+data.response.colonia[i]+"'>"+data.response.colonia[i]+"</option>"; 
											}
										});
									}
									
									$("#<%=camp.estado%>").change(function(){
										llenarmunicipio();
										document.getElementById("<%=camp.municipio%>").innerHTML = "";
										document.getElementById("<%=camp.cp%>").innerHTML = "";
										document.getElementById("<%=camp.localidad%>").innerHTML = "";
									})
									
									$("#<%=camp.municipio%>").change(function(){
										llenarcp();
										document.getElementById("<%=camp.cp%>").innerHTML = "";
										document.getElementById("<%=camp.localidad%>").innerHTML = "";
									})
									
									$("#<%=camp.cp%>").change(function(){
										llenarlocalidad();
										document.getElementById("<%=camp.localidad%>").innerHTML = "";
									})
									
									llenarestados();
									llenarmunicipio();
									llenarcp();
									llenarlocalidad();
								</script>
								<% } %>
								<% if(camp.type == "api" && camp.nombre == "escuelas"){ %>	
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.estado%>">Estado <b>*</b></label>
										<select class="form-control required" id="<%=camp.estado%>" name="<%=camp.estado%>">
											<option value="" disabled selected>Selecciona...</option>
											<% data.catalogo.estados.forEach((item)=>{%>
											<option value="<%=item.value%>"><%=item.entidad%></option>
											<% }) %>
										</select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.municipio%>">Muncipio <b>*</b></label>
										<select class="form-control required" id="<%=camp.municipio%>" name="<%=camp.municipio%>"></select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.localidad%>">Localidad <b>*</b></label>
										<select class="form-control required" id="<%=camp.localidad%>" name="<%=camp.localidad%>"></select>
									</div>
								</div>
								<div class="col-md-6 <%= camp.type+'_'+ camp.nombre %> " style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<div class="form-group">
										<label for="<%=camp.escuela%>">Escuela <b>*</b></label>
										<select class="form-control required" id="<%=camp.escuela%>" name="<%=camp.escuela%>"></select>
									</div>
								</div>
								<script>
									var catalogo = <%-JSON.stringify(data.catalogo)%>;
									$(()=>{
										$(".<%= camp.type+'_'+ camp.nombre %>").css('display','none');
									})
									
									$("#<%=camp.dependencia%>").change(()=>{
										var val = $("#<%=camp.dependencia%>").val();
										if(val == "<%= camp.value %>" && <%= camp.active %> == true){
											$(".<%= camp.type+'_'+ camp.nombre %>").css('display','block');
										}else{
											$(".<%= camp.type+'_'+ camp.nombre %>").css('display','none');
										}
										
									})
									
									$("#<%=camp.estado%>").change(ChangeMunicipiosFromEstado);
									$("#<%=camp.municipio%>").change(ChangeLocalidad);
									$("#<%=camp.localidad%>").change(ChangeEscuela);
									function ChangeMunicipiosFromEstado(){
										document.getElementById("<%= camp.municipio %>").innerHTML = "";
										document.getElementById("<%= camp.localidad %>").innerHTML = "";
										document.getElementById("<%= camp.escuela %>").innerHTML = "";
										var est = Number(document.getElementById("<%= camp.estado %>").value);
										var index = searchByParam(catalogo.estados,  "value", est);
										$("#<%= camp.municipio %>").append($("<option value='' disabled selected>Selecciona... </option>"));
										catalogo.estados[index].municipios.forEach(function(txt) {
											var selected = "";
											if($("#<%= camp.municipio %>").attr("value") == txt.municipio){
												selected = "selected"
											}
											$("#<%= camp.municipio %>").append($("<option value='" + txt.value + "' "+ selected +">" + txt.municipio + "</option>"));
										});
									
									}
									
									function ChangeLocalidad(){
										document.getElementById("<%= camp.localidad %>").innerHTML = "";
										document.getElementById("<%= camp.escuela %>").innerHTML = "";
										var est = Number(document.getElementById("<%= camp.estado %>").value);
										var mun = Number(document.getElementById("<%= camp.municipio %>").value);
										var index = searchByParam(catalogo.estados,  "value", est);
										var index2 = searchByParam(catalogo.estados[index].municipios,  "value", mun);
										$("#<%= camp.localidad %>").append($("<option value=''>Selecciona... </option>"));
										catalogo.estados[index].municipios[index2].localidades.forEach(function(txt) {
											var selected = "";
											if($("#<%= camp.localidad %>").attr("value") == txt.localidad){
												selected = "selected"
											}
											$("#<%= camp.localidad %>").append($("<option value='" + txt.value + "' "+ selected +">" + txt.localidad + "</option>"));
										});
									}
									
									function searchByParam(arr, param, value) {
										var index = -1;
										for (var i = 0; i < arr.length; i++) {
											if (arr[i][param] == value ) {
													index = i;
											}
										}
										return index;
									}
									
									function ChangeEscuela(){
										document.getElementById("<%= camp.escuela %>").innerHTML = "";
										var estado_value = $("#<%=camp.estado%>").val();
										var municipio_value = $("#<%=camp.municipio%>").val();
										var localidad_value = $("#<%=camp.localidad%>").val();
										var escuelas = "https://api.siged.sep.gob.mx/servicios//escuela/buscaEscuela/cct=&turno=&nivel="+<%=camp.nivel%>+"&control=&entidad="+estado_value+"&municipio="+municipio_value+"&localidad="+localidad_value+"&primer=1&ultimo=1000000000?_=1606426793811"
										$.get( escuelas, function( data ) {
											document.getElementById("<%=camp.escuela%>").innerHTML += "<option value='' selected disabled>Selecciona...</option>"; 
											for(var i in data.datos){ 
												
												document.getElementById("<%=camp.escuela%>").innerHTML += "<option value='"+data.datos[i].nombre+"'>"+data.datos[i].nombre+"</option>"; 
											}
										});
									}
									
								</script>
								<% } %>
								<% if(camp.type == "text" &&  camp.dependencia == "" || camp.type =="number" &&  camp.dependencia == "" || camp.type =="date" &&  camp.dependencia == "" || camp.type =="email" &&  camp.dependencia == "" ) { %>
								<div class="form-group col-md-6" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<label><%= camp.pregunta %> <b><%= (camp.required == true ? "*" : "") %></b></label>
									<input type="<%=camp.type%>" class="form-control <%= (camp.required == true ? "required" : "") %>" id="<%=camp.id%>" name="<%=camp.id%>">
								</div>
								<% } %>
								<% if( camp.type == "text" && camp.dependencia != "" ) {%>
								<script>
									$("#<%=camp.dependencia%>").change(view2);
									view2();
									function view2(){
										var dependencia = $("#<%=camp.dependencia%>").val();
										if(dependencia == "<%=camp.value%>"){
											$(".<%= camp.id %>-ref").css("display","block");
											$(".<%= camp.id %>-ref").append($(`
												<div style="display: <%= (camp.active == true ? "block" : "none" ) %>">
													<label><%= camp.pregunta %> <b><%= (camp.required == true ? "*" : "") %></b></label>
													<input type="<%=camp.type%>" class="form-control" <%= (camp.required == true ? "required" : "") %> id="<%=camp.id%>">
												</div>
											`))
										}else if(dependencia != "<%=camp.value%>"){
											$(".<%= camp.id %>-ref").css("display","none");
											$(".<%= camp.id %>-ref").html("");
										}
									}
								</script>
								<div class="form-group col-md-6  <%= camp.id %>-ref" style="display: none;"></div>
								<% } %>
								<% if( camp.type =="array" ){ %>
								<%- include('../components/Array',{data:camp}) %>
								<% } %>
								<% }) %>
							</div>
						</section>
						<% } else if(step.paso == "Documentos"){ %>
						<script>
							$(".leyenda_pago").css("display", "none");
						</script>
						<section>
							<div class="row">
								<% step.preguntas.forEach((camp)=>{ %>
								<% if(camp.type == "file" ){ %>
								<div class="col-md-6 form-group" style="display: <%= (camp.active == true ? "block" : "none" ) %>">
									<label for="<%= camp.id %>"><%= camp.pregunta %><b><%= (camp.required == true)?" * ":"" %></b></label>
									<input type="<%= camp.type %>" id="<%= camp.id %>"  class="form-control <%= (camp.required == true)?"required":"" %>" name=<%= camp.id %>>
								</div>
								<% } %>
								<% }) %> 
							</div>
						</section>
						<%} else if(step.paso == "Datos de pago"){ %>
						<section>
							<script>
								$("#nivel_escolar").change(pintarCard);
								$("#promedio").change(pintarCard);
								
								function pintarCard(){
							var bancos = <%-JSON.stringify(step.bancos)%>
							var visualizacion_inicio = <%-JSON.stringify(step.visualizacion_inicio)%>
							var visualizacion_fin = <%-JSON.stringify(step.visualizacion_fin)%>
		
										bancos.forEach((banco,i)=>{										
									var nivel_escolar =$("#"+banco.dependencia).val();
									var promedio = Number($("#"+banco.dependencia2).val());
									if(nivel_escolar != "" && promedio >0){
										var date_actual = Number(new Date());
										if(nivel_escolar==banco.nivel_escolar && promedio>=banco.promedio ){
											if(date_actual>visualizacion_inicio && date_actual<visualizacion_fin){
												$(".box-body").append($(`
													<p class="leyenda_pago texto`+ i +`">Presentar la siguiente información en ventanilla del banco `+ banco.nombre +` con la referencia `+ banco.referencia +` 
														para el concepto de ` + banco.concepto +` con un monto de ` + banco.importe +` o 
														entrar al siguiente enlace para realizar su pago en línea:
													</p>
													<p class="leyenda_pago texto`+ i +`"><a href=`+ banco.pago_en_linea +` ">Pago en línea</a></p>
													<p class="leyenda_pago texto`+ i +`"><b>¡Tienes hasta el ` + banco.fecha_admision +` para realizar tu pago!</b></p>
												`));
												$(".texto"+i).css("display", "block");
											}else{
												$(".box-body").append($(`
													<p class="error`+i+`">¡LO SENTIMOS EL PROCESO DE ADMISIÓN YA FUE CERRADO!</p>
												`));
												$(".error"+i).css("display", "block");
											}
											
											for (let j = 0; j < 1; j++) {
												$('p.error'+i+':last').remove();
											}	
											
										}
										if(i%2 != 0){
											for (let j = 0; j < i*3; j++) {
												$('p.texto'+i+':last').remove();
											}
										}else{
											for (let j = 0; j < 3; j++) {
												$('p.texto'+i+':last').remove();
											}	
										}
									}										
								})
									}
							</script>
							<div class="col-xl-12 col-12">
								<div class="box box-bordered border-primary">
									<div class="box-header with-border">
										<h4 class="box-title"><strong>Información de pago</strong></h4>
									</div>
									<div class="box-body">
									</div>
								</div>
							</div>
						</section>
				  <%}else if(step.paso == "Pase"){%>
					<section>
						<div class="col-xl-12 col-12">
							<div class="box box-bordered border-primary">
								<div class="box-header with-border">
									<h4 class="box-title"><strong>Gracias por tu registro</strong></h4>
								</div>
								<div style="padding: 1.5rem 1.5rem; -ms-flex: 1 1 auto; flex: 1 1 auto; border-radius: 10px;">
									<p>Te esperamos el día <%=step.fecha%> a las <%= step.hora %> en <%= step.lugar %> te recomendamos los siguiente: </p>
									<p><%= step.instrucciones %> </p>
								</div>
							</div>
						</div>
						</section>
				  <% } %>
						<% }) %>
					</form>
				</div>
		</section>
		</div>
	</div>
	<footer class="main-footer">
		&copy; 2020 <a href="http://www.hidalgo.gob.mx">Gobierno del estado de Hidalgo</a>. Todos los derechos reservados.
	</footer>

	<div class="control-sidebar-bg"></div>
</div>

<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="display:none; cursor:pointer" id="myOverlay"></div>

<script type="text/javascript">
	function Looper(data, processData, done) {
        if (data.length > 0) {
            var loop = function(data, i, processData, done) {
                processData(data[i], i, function() {
                    if (++i < data.length) {
                        loop(data, i, processData, done);
                    } else {
                        done();
                    }
                });
            };
            loop(data, 0, processData, done);
        } else {
            done();
        }
    }

    function CreateJson(id, callback, error){
    	var element = jQuery("#steps-uid-0-p-1");
        var allinputs = element.find("[id]");
        var result = {};
        var selected = result;
        var passValidation = true;
        console.log(element,allinputs)
        Looper(allinputs, (input, i, nextInput) => {
            var element = jQuery(input);
            var type_input = element.attr("type");
            var dbparam = element.attr("id");
            var value = element.val();
            var required = element.is(":required");
            var objecter = element.attr("object");
            var arrayer = element.attr("array");
            console.log(dbparam,element,value)
            if(arrayer && arrayer.length > 0){
                selected[dbparam] = [];
                var items = jQuery("#" + arrayer).find(".item");
                Looper(items, function(item, j, nextItem){
                    CreateJSONById(jQuery(item).attr("ref"), function(data){
                        selected[dbparam].push(data);
                        return nextItem();
                    }, error);
                }, nextInput);
            }else{
            	selected = result;
            	if (value == null) {
            		value = "";
            	}
            	if((!value && required) || (value.length == 0 && required)){
                    passValidation = false;
                    return nextInput();
                }else if(type_input == "file" && !element[0].files[0]){
                    return nextInput();
                }else if(type_input == "file" && element[0].files[0]){
                    var dataFile = new FormData();
                    var name = element[0].files[0].name.split(".");
                    name = name[name.length - 1];
                    dataFile.append("file", element[0].files[0]);
                    jQuery.ajax({
                        type: 'POST',
                        url:"/v1/upload/new/"+name,
                        data: dataFile,
                        processData: false, 
                        contentType: false, 
                        success: (response) => {
                            console.log("R",response);
                            if(response.success){
                                selected[dbparam + "_file"] = response.success;
                            }else{
                                passValidation = false;
                            }
                            return nextInput();
                        }
                    });
                }else{
                    if(dbparam.indexOf(".") > -1){
                        var params = dbparam.split(".");
                        if (selected[params[0]]) {
                            selected[params[0]][params[1]] = value;
                        }else{
                            selected[params[0]] = { [params[1]]: value };
                        }
                    }else{
                        selected[dbparam] = value;
                    }
                    return nextInput();
                }
            }
        }, () => {
            
            if(passValidation){
                return callback(result);
            }else{
                return error();
            }
        });
    }

	$(document).on('click', 'a[id^="prueba"]', function() {
		console.log($("ul")[5])
			// CreateJson("steps-uid-0-p-0", function(result){
			// 	console.log(result)

			// 	$.ajax({
			// 		url: "/registro",
			// 		method: "POST",
			// 		data: result,
			// 		success: function(data){
			// 			alert("registro",data);
			// 			// window.location.reload();
			// 		}
			// 	});
			// }, function(){
	  //           jQuery("#loading").hide();
	  //           Swal.fire({
	  //               type: 'error',
	  //               title: "Verifique su información"
	  //           });
	  //       });


	});
</script>
<script src="/js/vendors.min.js"></script>
<script src="/js/pages/chat-popup.js"></script>
<script src="/assets/icons/feather-icons/feather.min.js"></script>	
<script src="/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
<script src="/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
<!-- WebkitX Admin App -->
<script src="/js/template.js"></script>
<script src="/js/pages/steps.js"></script>
</body>
</html>