<style type="text/css">
  #loading{
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: rgba(0,0,0,0.9);
      transition: 1s;
  }

  #loading h1 {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #E73C4E;
  }

  #loading .spinner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #loading .spinner {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 0.5em solid #fff;
    border-top-color: #E73C4E;
    animation: 1s infinite spin linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<div id="loading">
    <h1>¡ESPERÉ!</h1>
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</div>
  <!-- Vendor JS -->
  <script src="../js/vendors.min.js"></script>
  <script src="../js/pages/chat-popup.js"></script>
  <script src="../assets/icons/feather-icons/feather.min.js"></script>
</body>
</html>