<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="https://cdn.hidalgo.gob.mx/logo.png"/>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

	<title><%= data.title %></title>

	<!-- Vendors Style-->
	<link rel="stylesheet" href="/css/vendors_css.css">
	
	<!-- Style-->  
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/skin_color.css">	

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary">
<div id="root"></div>